@page
@model IndexModel
@{
    ViewData["Title"] = "🤔";
}

<div >
    <h1 class="is-custom-size has-text-white-bis">mooDGUesSEr</h1>
    <div class="field">
        <div class="control">
            <textarea class="textarea is-medium has-background-primary	" placeholder="Enter any text, I'll try to guess..."></textarea>
        </div>
    </div>
</div>
